{% load static %}
{% block content %}
    <div class="about-section">
        <div class="section-headers" id="about-header">
            <p>About</p>
        </div>

        <div class="section-content">
            <div id="about-me-content">
                <p></p>
                <div class="skills-section">
                    <p>Insert programming language images</p>
                </div>
            </div>
            <!-- <div id="about-image">
                        <iframe src='https://my.spline.design/dreamroom-6841853954a0b8a7d82d009a991e4297/' frameborder='0'
                            width='100%' height='100%'></iframe>
                    </div> -->
        </div>
    </div>
{% end block %}