{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Lucas Torres</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static "media/img/L-favicon-white-32x32.png" %}">
	<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		integrity="sh    a512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
		crossorigin="anonymous" referrer policy="no-referrer" />
	<!-- Robot Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
		rel="stylesheet    ">
	<!-- Bai Jamjuree Google Font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;700&display=swap" rel="stylesheet">
	<!-- Rubik Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
	<a name="top"></a>

	<!-- NAVIGATION BAR-->
	<div class="sidebar">
		<ul class="nav_list">
			<li>
				<a href="#top">
					<img src="{% static "media/img/L-favicon-32x32.png" %}" alt="logo" class="icons" id="menu-btn">
				</a>
			</li>
			<li>
				<a href="#about-header">
					<i class='bx bxs-smile icons' id="about-btn"></i>
				</a>
				<span class="tooltip">About</span>
			</li>
			<li>
				<a href="#project-header">
					<i class='bx bxs-book-alt icons' id="projects-btn"></i>
				</a>
				<span class="tooltip">Projects</span>
			</li>
			<li>
				<a href="#contact-header">
					<i class='bx bxs-contact icons' id="contact-btn"></i>
				</a>
				<span class="tooltip">Contact</span>
			</li>
			<li>
				<a href="#">
					<button id="resume-btn">
						<!-- <i class='bx bx-clipboard icons' id="resume-icon" style='color:#fdd44a'></i> -->
						<!-- <i class='bx bx-clipboard icons' id="resume-icon" style='color:#eb1a41'></i> -->
						<!-- <i class='bx bx-clipboard icons' id="resume-icon" style='color:#ff0055'></i> -->
						<i class='bx bx-clipboard icons' id="resume-icon" style='color:#cc00ff'></i>
						<!-- <i class='bx bx-clipboard icons' id="resume-icon" style='color:#8f00ff'></i> -->
						<!-- <i class='bx bx-clipboard icons' id="resume-icon" style='color:#4b9cd3'></i> -->
					</button>
				</a>
				<span class="tooltip" id="resume-tooltip">Resume</span>
			</li>
		</ul>

		<!-- Resume -->
		<div class="modal-container" id="modal_container">
			<div class="modal">
				<iframe src="{% static 'media/img/SWE_Resume_27062023.pdf' %}" width="100%" height="100%"></iframe>
				<button id="close">Close</button>
			</div>
		</div>

		<div class="socials">
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/cvlucastorres/" target="_blank" rel="noopener noreferrer"
						class="socials linkedin">
						<i class='bx bxl-linkedin-square icons' id="linkedin-btn"></i>
					</a>
				</li>
				<li>
					<a href="https://github.com/imcvlucas" target="_blank" rel="noopener noreferrer"
						class="socials github">
						<i class='bx bxl-github icons' id="github-btn"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- LANDING PAGE -->
	<div class="portfolio-container">
		<div class="landing-page-section">
			<div class="introduction">
				<!-- <h1 class="my-name">Lucas Torres</h1> -->
				<p class="intro">Hi, I'm</p>
				<p class="my-name">C.V. Lucas Torres.</p>
				<p class="aspiration">An aspiring <span id="profession">software engineer</span> based in Toronto.</p>
				<div class="info">
					<a href="#project-header"><button id="to-projects">Projects</button></a>
				</div>
			</div>
		</div>

		<!-- ABOUT ME SECTION -->
		<div class="about-section">
			<div class="section-headers" id="about-header">
				<p>About</p>
			</div>

			<div class="section-content">
				<div id="about-me-content">
					<p class="section-title section-about-me">Who am I</p>
					<p>
						Greetings! I'm Lucas, a self-taught software engineer with a background in UX Design. My passion is in building digital products from start to finish that focus on solving real world problems.
						<br>
						<br>

						After completing my capstone project for the UX Design course, I realized that my passion wasn't in design but in building products. Designing is fun, but, building products from scratch and solving complex problems along the way is far more fulfilling. I believe that most problems can be solved using technology. Therefore, I'm always thrilled to spend my free time learning new languages, skills, and build projects to hone my craft.

						<br>
						<br>
						When I'm not coding, you can find me playing chess, video games, or learning game theory.
					</p>
				</div>
				<div class="skill-section">
					<p class="section-title section-skills">Skills</p>
					<p>Here are a few technologies I've been working with recently:</p>
					<div class="skills">
						<ul>
							<li>Python</li>
							<li>C++</li>
							<li>Django</li>
						</ul>
						<ul>
							<li>SQL</li>
							<li>Linux</li>
							<li>Git</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- PROJECT SECTION -->
		<div class="project-section">
			<!-- Header -->
			<div class="section-headers" id="project-header">
				<p>Projects</p>
			</div>

			<!-- Project information -->
			<div class="project-display">
				<div class="project-info-display">
					<div class="project-information">

						<div class="project-image-section">
							<p class="section-title section-img">Image</p>
							<img class="project-image" id="project-image" src="">
						</div>

						<div class="project-details-section">
							<div class="project-details">
								<p class="section-title section-details">Details</p>
								<div class="project-header-detail">
									<p>Project</p>
									<p>Year</p>
									<p>Status</p>
									<p>Tech Stack</p>
									<p>Libraries</p>
								</div>
								<div class="project-inputs">
									<p id="project-codename"></p>
									<p id="project-date"></p>
									<p id="project-status"></p>
									<p id="project-tech"></p>
									<p id="project-lib"></p>
								</div>
							</div>
							<div class="project-buttons">
								<a href="" target="_blank" class="btn-cta view-live" id="view-live-btn">Live</a>
								<a href="" target="_blank" class="btn-cta view-code" id="view-code-btn">Code</a>
							</div>
						</div>

						<div class="project-description-section">
							<p class="section-title section-desc">Description</p>
							<p class="project-description" id="project-description"></p>
						</div>
					</div>

					<div class="project-display-separator"></div>

				</div>

				<!-- Project tile grid -->
				<div class="projects">
					{% for project in projects %}
						<div onclick="change_project_details({{ project.id }})" class="project-block">
							<div class="project-counter">
								<p>0{{ project.id }}</p>
								<div class="project-icon">
									<p class="project-title">{{ project.title }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
		</div>

		<!-- FOOTER -->
		<div class="footer">
			<div class="contact-me">
				<div class="section-headers" id="contact-header">
					<p>Get in touch</p>
				</div>
				<form method="POST" class="contact-form-email">
					{% csrf_token %}
					{% for field in form %}
						{{ field }}
						<br>
					{% endfor %}
					<div class="contact-me-btn-container">
						<input type="submit" class="contact-form send-email-btn" value="Submit">
					</div>
				</form>	
			</div>
		</div>
	</div>

	<script>
		const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");

		accordionItemHeaders.forEach(accordionItemHeader => {
			accordionItemHeader.addEventListener("click", event => {

				// Uncomment in case you only want to allow for the display of only one collapsed item at a time!

				const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
				if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
				  currentlyActiveAccordionItemHeader.classList.toggle("active");
				  currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
				}

				accordionItemHeader.classList.toggle("active");
				const accordionItemBody = accordionItemHeader.nextElementSibling;
				if(accordionItemHeader.classList.contains("active")) {
					accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
				}
				else {
					accordionItemBody.style.maxHeight = 0;
				}

			});
		});

		var form_fields = document.querySelector(".contact-form-email").getElementsByTagName("input");
		var text_field = document.getElementById("id_message");
		form_fields[1].placeholder = "Name";
		form_fields[2].placeholder = "Email";
		form_fields[3].placeholder = "Company";
		text_field.placeholder = "Shoot me a message!";

		// Modal settings
		const open = document.getElementById("resume-btn");
		const modal_container = document.getElementById("modal_container");
		const close = document.getElementById("close");

		open.addEventListener("click", () => {
			modal_container.classList.add("show");
		});

		close.addEventListener("click", () => {
			modal_container.classList.remove("show");
		});
	</script>

	<script>
		let btn = document.getElementsByClassName("project-grid-btn");
		var project_data = JSON.parse("{{ project_data_JSON|escapejs }}");

		function change_project_details(project_id) {
				document.getElementById("project-image").src = project_data[project_id]['image'];
				document.getElementById("project-codename").innerHTML = project_data[project_id]['title'];
				document.getElementById("project-date").innerHTML = project_data[project_id]['year'];
				document.getElementById("project-tech").innerHTML = project_data[project_id]['tech_stack'].join(', ');
				document.getElementById("project-lib").innerHTML = project_data[project_id]['libraries'].join(', ');
				document.getElementById("project-description").innerHTML = project_data[project_id]['description'];

				<!-- Project status -->
				if (project_data[project_id]['status']) {
					document.getElementById("project-status").innerHTML = "Completed";
				} else {
					document.getElementById("project-status").innerHTML = "In progress";
				}

				<!-- Live URL button -->
				if (project_data[project_id]['live_url'] === null) {
					document.getElementById("view-live-btn").style = "pointer-events: none; cursor: default";
				} else {
					document.getElementById("view-live-btn").style = "pointer-events: auto; cursor: pointer";
					document.getElementById("view-live-btn").href = project_data[project_id]['live_url'];
				}

				<!-- Code URL Button -->
				if (project_data[project_id]['code_url'] === null) {
					document.getElementById("view-code-btn").style = "pointer-events: none; cursor: not-allowed;";
				} else {
					document.getElementById("view-code-btn").style = "pointer-events: auto; cursor: pointer";
					document.getElementById("view-code-btn").href = project_data[project_id]['code_url'];
				}
		};

		<!-- Default Values -->
		change_project_details(1);
	</script>

</body>


